
.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navogation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0.625rem;
    border-radius: .5rem;
    background-color: var(--color-gray);
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-gray);
    border-radius: .5rem;
    padding: 1rem;
    margin-top: .75rem;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem ;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border: none;
    cursor: pointe;
    border-radius: 50%;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: .5rem;
    background-color: var(--color-gray4);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img {
    width: 1rem;
    height: 1rem;
    margin-left: .625rem;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: var(--pure-white);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribes {
    color: var(--color-gray5);
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    margin-right: 2rem;
    border: none;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: var(--pure-white);
    border: 2px solid var(--pure-white);
    background: transparent;
    text-transform: uppercase;
    border-radius: 2rem;
    font-weight: 600;
}

.header__login .login:hover {
    width: 100px;
    height: 48px;
    color: var(--pure-black);
    border: 2px solid var(--pure-white);
    background: var(--pure-white);
    text-transform: uppercase;
    border-radius: 2rem;
    font-weight: 600;
}

.playlist-container {
    height: 68vh;
    padding: 1rem;
    margin: .625rem 0;
    border-radius: .625rem;
    background-color: var(--color-gray);
}

.playlist {
    margin: 1.5rem;

}

.playlist #greeting {
    color: var(--pure-white);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist #greeting-subtitle {
    color: var(--pure-white);
    font-size: 1.5rem;
    font-weight: 700;
}